{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block titrePage %}Liste des auteurs{% endblock %}

{% block content %}

    <div class="title-head">
        <h2>Nos auteurs</h2>
    </div>
    <section class="container-book">
        {% for author in author %}
            <article class="book">
                <h3>{{ author.firstname }} {{ author.name }}</h3>
                <div class="img-resume-books">
                    <img src="http://placehold.it/400x200" alt="">
                    <p class="resume">{{ author.biography  | slice(0, 200) | raw }} [...]</p>
                </div>
                <a href="{{ path('author', {'id': author.id}) }}" class="btn">En savoir plus</a>
                <div class="modif">
                    <a href="{{ path('author_update', {'id': author.id}) }}" class="btn">Modifier l'auteur</a>
                    <a href="{{ path('author_delete', {'id': author.id}) }}" class="btn">Supprimer l'auteur</a>
                </div>
            </article>
        {% endfor %}
    </section>
    <a href="{{ path('author_create') }}" class="btn add">Créer un nouvel auteur</a>

{% endblock %}