{% extends 'base.html.twig' %}

{% block title %}Mes auteurs{% endblock %}

{% block nav %}
    <nav>
        <div class="nav-login">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <ul>
            <li>
                <a href="{{ path('author_list') }}">Nos auteurs</a>
            </li>
            <li>
                <a href="{{ path('book_list') }}">Nos livres</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <section class="container-book-show">
        {% for author in authors %}
            <article class="book-show">
                <h2>{{ author.firstname }} {{ author.name }}</h2>
                <div class="img-resume">
                    <img src="http://placehold.it/250x320" alt="">
                    <h3>Biographie</h3>
                    <br>
                    <p class="resume">{{ author.biography | raw }}</p>
                </div>
                <div class="infos">
                    <h3>Informations</h3>
                    <br>
                    <p>Né le {{ author.birthDate | date ('d/m/Y') }}
                        {% if author.deathDate is not null %} et mort le {{ author.deathDate | date ('d/m/Y') }}{% endif %}
                    </p>
                    <br>
                </div>
                <p class="return">
                    <a href="{{ path('author_list') }}" class="btn">Retour à la liste des auteurs</a>
                </p>
            </article>
        {% endfor %}
    </section>

{% endblock %}