{% extends 'base-admin.html.twig' %}

{% block title %}Ajout d'un auteur{% endblock %}

{% block nav %}
    <nav>
        <div class="nav-login">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <ul>
            <li class="li-plus">
                <a href="{{ path('admin') }}">Panneau d'administration</a>
            </li>
            <li>
                <a href="{{ path('admin_author_list') }}">Nos auteurs</a>
            </li>
            <li>
                <a href="{{ path('admin_book_list') }}">Nos livres</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <section class="container-full">
        <article class="article-full">
            <h2 class="title-add">Votre auteur a bien été ajouté</h2>
            <h3>Nom de l'auteur</h3>
            <p>{{ author.firstname }} {{ author.name }}</p>
            <h3>Date de naissance</h3>
            <p>{{ author.birthDate | date('d/m/Y') }}</p>
            <h3>Date de mort</h3>
            {% if author.deathDate is not null %}
                <p>{{ author.deathDate | date('d/m/Y') }}</p>
            {% else %}
                <p>L'auteur est en vie et tant mieux !<br>La santé c'est important t'as vu.</p>
            {% endif %}
            <h3>Biographie</h3>
            <p>{{ author.biography }}</p>
        </article>
    </section>

{% endblock %}