{% extends 'base-admin.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block nav %}
    <nav>
        <div class="nav-login">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <ul>
            <li class="li-plus">
                <a href="{{ path('admin') }}">Panneau d'administration</a>
            </li>
            <li>
                <a href="{{ path('admin_author_list') }}">Nos auteurs</a>
            </li>
            <li>
                <a href="{{ path('admin_book_list') }}">Nos livres</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="title-head">
        <h2>Nos auteurs</h2>
    </div>
    <section class="container-book">
        {% for author in author %}
            <article class="book">
                <h3>{{ author.firstname }} {{ author.name }}</h3>
                <div class="img-resume-books">
                    <div class="img-container-author">
                        <img src="http://placekitten.com/400/200" alt="" class="img-fluid">
                    </div>
                    <p class="resume">{{ author.biography  | slice(0, 200) | raw }} [...]</p>
                </div>
                <a href="{{ path('admin_author', {'id': author.id}) }}" class="btn">En savoir plus</a>
                <div class="modif">
                    <a href="{{ path('admin_author_update_form', {'id': author.id}) }}" class="btn">Modifier l'auteur</a>
                    <a href="{{ path('admin_author_delete', {'id': author.id}) }}" class="btn">Supprimer l'auteur</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}