{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}

    <section class="container-book-show">
            <article class="book-show">
                <h2>{{ book.title }}</h2>
                <p class="auteur">par {{ book.author }}</p>
                <div class="img-resume">
                    <img src="http://placehold.it/250x320" alt="">
                    <h3>Résumé du livre</h3>
                    <br>
                    <p class="resume">{{ book.resume | raw }}</p>
                </div>
                <div class="infos">
                    <h3>Informations</h3>
                    <br>
                    <p><strong>Genre :</strong> {{ book.style }}</p>
                    <p><strong>Nombre de pages :</strong> {{ book.nbPages }}</p>
                    <br>
                    {% if book.inStock == 'true' %}
                        <p class="en-stock">Le livre est en stock</p>
                    {% else %}
                        <p class="pas-en-stock">Le livre n'est pas en stock</p>
                    {% endif %}
                </div>
                <p class="return">
                    <a href="{{ path('book_list') }}" class="btn">Retour à la liste des livres</a>
                </p>
            </article>
    </section>

{% endblock %}