<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <header>
        <div class="title">
            <h1>{% block titrePage %}{% endblock %}</h1>
        </div>
        <nav>
            <form action="get" id="search-form">
                <input type="text" name="search" id="search">
            </form>
            <ul>
                <li>
                    <a href="{{ path('author_list') }}">Liste des auteurs</a>
                </li>
                <li class="li-plus">
                    <a href="{{ path('admin_author_insert_form') }}"><img src="{{ asset('assets/img/plus.png') }}" alt="Ajouter un auteur" title="Ajouter un auteur" class="plus"></a>
                </li>
                <li>
                    <a href="{{ path('book_list') }}">Liste des livres</a>
                </li>
                <li class="li-plus">
                    <a href="{{ path('admin_book_insert_form') }}"><img src="{{ asset('assets/img/plus.png') }}" alt="Ajouter un livre" title="Ajouter un livre" class="plus"></a>
                </li>
            </ul>
        </nav>
    </header>
    <body>
        <main>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            <p>Oh un footer !</p>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>