{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block content %}

    <div class="title-head">
        <h2>Nos livres</h2>
    </div>
    <section class="container-book">
        {% for book in book %}
            <article class="book">
                <h3>{{ book.title }}</h3>
                {% if book.author is not null %}
                    <p class="auteur">{{ book.author.firstname }} {{ book.author.name }}</p>
                {% else %}
                    <p class="auteur">Auteur non renseigné</p>
                {% endif %}
                <div class="img-resume-books">
                    <img src="http://placekitten.com/400/200" alt="">
                    <p class="resume">{{ book.resume  | slice(0, 200) | raw }} [...]</p>
                </div>
                <a href="{{ path('book', {'id': book.id}) }}" class="btn">En savoir plus</a>
                <div class="modif">
                    <a href="{{ path('admin_book_update_form', {'id': book.id}) }}" class="btn">Modifier le livre</a>
                    <a href="{{ path('admin_book_delete', {'id': book.id}) }}" class="btn">Supprimer le livre</a>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}