{% extends 'base-admin.html.twig' %}

{% block title %}Ajout d'un livre{% endblock %}

{% block nav %}
    <nav>
        <div class="nav-login">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <ul>
            <li class="li-plus">
                <a href="{{ path('admin') }}">Panneau d'administration</a>
            </li>
            <li>
                <a href="{{ path('admin_author_list') }}">Nos auteurs</a>
            </li>
            <li>
                <a href="{{ path('admin_book_list') }}">Nos livres</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <section class="container-full">
        <article class="article-full">
            <h2 class="title-add">Votre livre a bien été ajouté</h2>
            <h3>Titre du livre</h3>
            <p>{{ book.title }}</p>
            <h3>Résumé du livre</h3>
            <p>{{ book.resume }}</p>
            <h3>Style du livre</h3>
            <p>{{ book.style }}</p>
            <h3>En stock</h3>
            <p>{% if book.inStock == 'true' %}
            <span class="en-stock">Le livre est en stock</span>
            {% else %}
            <span class="pas-en-stock">Le livre n'est pas en stock</span>
            {% endif %}</p>
            <h3>Nombre de pages</h3>
            <p>{{ book.nbPages }}</p>
        </article>
    </section>

{% endblock %}