{% extends 'base-admin.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block nav %}
    <nav>
        <div class="nav-login">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <ul>
            <li class="li-plus">
                <a href="{{ path('admin') }}">Panneau d'administration</a>
            </li>
            <li>
                <a href="{{ path('admin_author_list') }}">Nos auteurs</a>
            </li>
            <li>
                <a href="{{ path('admin_book_list') }}">Nos livres</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="title-head">
        <h2>Nos livres</h2>
    </div>
    <section class="container-book">
        {% for book in book %}
            <article class="book">
                <h3>{{ book.title }}</h3>
                {% if book.author is not null %}
                    <p class="auteur">{{ book.author.firstname }} {{ book.author.name }}</p>
                {% else %}
                    <p class="auteur">Auteur non renseigné</p>
                {% endif %}
                <div class="img-resume-books">
                    <div class="img-container-author">
                        <img src="http://placekitten.com/400/200" alt="" class="img-fluid">
                    </div>
                    <p class="resume">{{ book.resume  | slice(0, 200) | raw }} [...]</p>
                </div>
                <a href="{{ path('admin_book', {'id': book.id}) }}" class="btn">En savoir plus</a>
                <div class="modif">
                    <a href="{{ path('admin_book_update_form', {'id': book.id}) }}" class="btn">Modifier le livre</a>
                    <a href="{{ path('admin_book_delete', {'id': book.id}) }}" class="btn">Supprimer le livre</a>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}