{% extends 'base-admin.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block nav %}
    <nav>
        <div class="nav-login">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <ul>
            <li class="li-plus">
                <a href="{{ path('admin') }}">Panneau d'administration</a>
            </li>
            <li>
                <a href="{{ path('admin_author_list') }}">Nos auteurs</a>
            </li>
            <li>
                <a href="{{ path('admin_book_list') }}">Nos livres</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <section class="container-book-show">
            <article class="book-show">
                <h2>{{ book.title }}</h2>
                {% if book.author is not null %}
                    <p class="auteur">{{ book.author.firstname }} {{ book.author.name }}</p>
                {% else %}
                    <p class="auteur">Auteur non renseigné</p>
                {% endif %}
                <div class="img-resume">
                    <div class="img-container">
                        <img src="http://placekitten.com/250/320" alt="" class="img-fluid">
                    </div>
                    <h3>Résumé du livre</h3>
                    <br>
                    <p class="resume">{{ book.resume | raw }}</p>
                </div>
                <div class="infos">
                    <h3>Informations</h3>
                    <br>
                    <p><strong>Genre :</strong> {{ book.style }}</p>
                    <p><strong>Nombre de pages :</strong> {{ book.nbPages }}</p>
                    <br>
                    {% if book.inStock == 'true' %}
                        <p class="en-stock">Le livre est en stock</p>
                    {% else %}
                        <p class="pas-en-stock">Le livre n'est pas en stock</p>
                    {% endif %}
                </div>
                <div class="return">
                    <a href="{{ path('admin') }}" class="btn btn-first">Retour à la liste des livres</a>
                    <a href="{{ path('admin_book_update_form', {'id': book.id}) }}" class="btn">Modifier</a>
                    <a href="{{ path('admin_book_delete', {'id': book.id}) }}" class="btn">Supprimer</a>
                </div>
            </article>
    </section>

{% endblock %}